[data-theme="light"] {
  /* Base colors */
  --color-background: #e0e8f6;
  --color-heading: #484e53;
  --color-service-item-background: #bce7fa;
  --color-brand-primary: #4fc3f7;

  --color-text-primary: #1c1e53;
  --color-text-secondary: #484e53;
  --color-text-tertiary: #484e53;
  --color-text-form-input: #8987a1;

  /* Hover state */
  --highlight-brand-primary: #1eb2f5;
  --highlight-button-primary: #484e53;

  /* Active state */

  /* Fix theme color differences */
  --color-button-border: #1c1e53;
  --color-service-icon-background: #bce7fa;
  --color-service-item-border: #8987a1;
}
