@use "../abstracts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  font-size: 16px;

  @media screen and (min-width: abstracts.$md) {
    font-size: 17px;
  }

  @media screen and (min-width: abstracts.$lg) {
    font-size: 18px;
  }

  @media screen and (min-width: abstracts.$xlg) {
    font-size: 19px;
  }

  @media screen and (min-width: abstracts.$xxlg) {
    font-size: 20px;
  }
}

body {
  height: 100%;
  overflow: hidden;
}
