// Helper to keep all transitions in one place
@mixin transition($properties...) {
  $transition: ();

  @each $property in $properties {
    $transition: append(
        $transition, ($property 0.2s ease-out), $separator: comma
    );
  }

  transition: $transition;
}
