/* Helper to keep all transitions in one place */

@mixin transition($time, $properties...) {
  $transition: ();

  @each $property in $properties {
    $transition: append(
      $transition,
      ($property $time ease-out),
      $separator: comma,
    );
  }

  transition: $transition;
}
