@use 'sass:color';

/* Base colors */
$color-background: #1a1a1a;
$color-heading: #ffffff;
$color-form-input-border: #d6dded;
$color-hero-grid: #1a1a1a;
$color-service-item-border: #444444;
$color-service-item-background: #2b2b2b;
$color-service-icon-background: #f5f8ff;

$color-brand-primary: #4fc3f7;

$color-text-primary: #e1e1e1;
$color-text-secondary: #a9a9a9;
$color-text-tertiary: #f5f5f5;
$color-text-quaternary: #c1c1c1;
$color-text-form-input: #8987a1;

/* Hover state */
$highlight-brand-primary: color.scale($color-brand-primary, $lightness: -30%);
$highlight-button-primary: #484e53;

/* Active state */
