:root {
  --background-color: #1a1a1a;
  --headings-color: #ffffff;
  --main-text-color: #e1e1e1;
  --secondary-text-color: #a9a9a9;
  --tertiary-text-color: #c9c9c9;
  --quaternary-text-color: #f5f5f5;
  --button-background-color: #484e53;
  --menu-text-color: #c1c1c1;
  --secondary-color: #4fc3f7;
  --secondary-color-darken: #0984bb;
  --form-input-text-color: #8987a1;
}
