@use "../abstracts";

.button {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  min-height: 48px;
  text-decoration: none;
  color: abstracts.$color-text-primary;
  background-color: abstracts.$color-background;
  padding: 14px 19px;
  border-radius: 75px;
  border: 1px solid abstracts.$color-brand-primary;
  cursor: pointer;
  @include abstracts.transition(color, border-color);

  &:hover {
    color: abstracts.$color-brand-primary;
    border-color: abstracts.$highlight-brand-primary;
  }

  &:active {
    background-color: abstracts.$color-brand-primary;
    color: abstracts.$color-background;
  }

  &--navigation-contact {
    border-radius: 9px;
  }
}
