@use "../abstracts";

.hamburger-wrapper{
  cursor: pointer;
  padding: 23px 8px;
  display: flex;
  align-items: center;
  align-self: center;
}

.hamburger {
  cursor: pointer;
  background-color: abstracts.$color-heading;
  border: none;
  border-radius: 1px;
  width: 32px;
  height: 2px;
  @include abstracts.transition(background-color);
  padding: 0;

  &::before,
  &::after {
    content: "";
    background-color: abstracts.$color-heading;
    border-radius: 1px;
    width: 16px;
    height: 2px;
    display: block;
    @include abstracts.transition(background-color);
  }

  &::before {
    transform: translate(0, -8px);
  }

  &::after {
    transform: translate(16px, 6px);
  }

  &:hover,
  &:hover::before,
  &:hover::after {
    background-color: abstracts.$color-brand-primary;
  }

  &:active,
  &:active::before,
  &:active::after {
    background-color: abstracts.$highlight-brand-primary;
  }
}
