@use "../abstracts";

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  @include abstracts.transition(height, opacity);

  @media screen and (min-width: abstracts.$lg) {
    position: static;
    // display: block;
    // flex-direction: row;
    // width: auto;
    height: auto;
    opacity: 1;
  }

  &--active {
    position: fixed;
    height: 100%;
    z-index: 1;
    background-color: abstracts.$color-background;
    color: abstracts.$color-text-primary;
    opacity: .95;
  }
}
