@use "../abstracts";

.subtitle {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  background-image: linear-gradient(to right, abstracts.$color-brand-primary, abstracts.$color-text-primary);
  color: transparent;
  background-clip: text;
  text-align: center;
}
