.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 160px;
}

.about__subtitle {
  margin-bottom: 32px;
}

.about__description {
  max-width: 840px;
  padding-bottom: 24px;
}

.about__description--last {
  padding-bottom: 32px;
}
