@use "../abstracts";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;

  @include abstracts.transition(1s, opacity);

  @media screen and (min-width: abstracts.$lg) {
    padding-bottom: 96px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }

  &__description {
    max-width: 704px;
    padding-bottom: 24px;

    @media screen and (min-width: abstracts.$xlg) {
      max-width: 756px;
    }

    @media screen and (min-width: abstracts.$xxlg) {
      max-width: 936px;
    }

    &--last {
      padding-bottom: 32px;
    }
  }
}
