@use "../abstracts";

.footer {
  padding-bottom: 32px;

  @media screen and (min-width: abstracts.$lg) {
    padding-bottom: 96px;
  }

  &__top,
  &__bottom {
    @media screen and (min-width: abstracts.$lg) {
      padding: 0 40px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;

    @media screen and (min-width: abstracts.$md) {
      flex-direction: row;
    }
  }

  &__text {
    font-family: "Poppins", "Verdana", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    color: abstracts.$color-heading;
  }

  &__divider {
    margin-bottom: 32px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: abstracts.$md) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__email {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px;
    font-family: "Poppins", "Verdana", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    color: abstracts.$color-text-secondary;

    @include abstracts.transition(0.2s, color);

    &:hover {
      color: abstracts.$color-brand-primary;
    }

    &:focus {
      outline-color: abstracts.$color-brand-primary;
    }

    &:active {
      color: abstracts.$highlight-brand-primary;
    }
  }
}


.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 8px;
  align-items: center;

  &__link {
    display: block;
    padding: 8px;
  }

  &__icon {
    display: block;
    border-radius: 50%;
    color: abstracts.$color-text-secondary;

    @include abstracts.transition(0.2s, color, background-color);

    &:hover {
      color: abstracts.$color-brand-primary;
    }

    &:focus {
      outline-color: abstracts.$color-brand-primary;
    }

    &:active {
      background-color: abstracts.$highlight-brand-primary;
      color: abstracts.$color-background;
    }
  }
}

.copyright {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: abstracts.$color-text-secondary;
}
