@use "../abstracts";

.footer {
  padding-bottom: 32px;

  &__top,
  &__bottom {
    @media screen and (min-width: 1000px) {
      padding: 0 40px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  &__text {
    font-family: "Poppins", "Verdana", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: abstracts.$color-heading;

    @media screen and (min-width: 1000px) {
      font-size: 63px;
    }
  }

  &__divider {
    margin-bottom: 32px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 21px;

  &__icon {
    border-radius: 50%;
    color: abstracts.$color-text-secondary;
    @include abstracts.transition(color, background-color);

    &:hover {
      color: abstracts.$color-brand-primary;
    }

    &:active {
      background-color: abstracts.$highlight-brand-primary;
      color: abstracts.$color-background;
    }
  }
}

.copyright {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: abstracts.$color-text-secondary;
}
