@use "../abstracts";

.footer {
  padding-bottom: 40px;
}

.footer__top,
.footer__bottom {
  padding: 0 40px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer__text {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 63px;
  line-height: 67px;
  color: abstracts.$color-heading;
}

.horizontal-divider {
  background-color: abstracts.$highlight-button-primary;
  height: 1px;
  border: none;
}

.footer__divider {
  margin-bottom: 40px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: abstracts.$color-text-secondary;
}

.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 21px;
}

.social__icon {
  border-radius: 50%;
  color: abstracts.$color-text-secondary;
  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out;
}

.social__icon:hover {
  color: abstracts.$color-brand-primary;
}

.social__icon:active {
  background-color: abstracts.$highlight-brand-primary;
  color: abstracts.$color-background;
}
