@use "../abstracts";

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 34px;
}

.logo {
  font-family: "Oleo Script", "Brush Script MT", fantasy;
  font-size: 32px;
  line-height: 44px;
  color: abstracts.$color-text-primary;
  text-decoration: none;
}

.site-navigation {
  list-style-type: none;
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 30px;
}

.site-navigation__link {
  text-decoration: none;
  color: abstracts.$color-text-tertiary;
  padding: 10px;
}

.site-navigation__link:hover {
  color: abstracts.$color-brand-primary;
  transition: color 0.2s ease-out;
}

.site-navigation__link:active {
  color: abstracts.$highlight-brand-primary;
}

.site-navigation__link--active {
  color: abstracts.$color-brand-primary;
}

.main-navigation__right-wrapper {
  display: flex;
  gap: 30px;
}

.theme-switch {
  background-color: abstracts.$color-background;
  border: none;
  cursor: pointer;
}

.theme-switch__icon {
  color: abstracts.$color-text-primary;
  transition: color 0.2s ease-out;
}

.theme-switch__icon:hover {
  color: abstracts.$color-brand-primary;
}

.theme-switch__icon:focus {
  outline: 2px solid abstracts.$color-brand-primary;
}

.theme-switch__icon:active {
  color: abstracts.$highlight-brand-primary;
}
