@use "../abstracts";

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 24px;

  @media screen and (min-width: 1000px) {
    padding-top: 40px;
  }
}

.logo {
  font-family: "Oleo Script", "Brush Script MT", fantasy;
  color: abstracts.$color-text-primary;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.375;
  padding-left: 8px;

  @media screen and (min-width: 1000px) {
    font-size: 32px;
  }
}

.site-navigation {
  display: none;
  list-style-type: none;
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  padding-left: 0;
  gap: 30px;

  @media screen and (min-width: 1000px) {
    display: flex;
  }
}

.site-navigation__link {
  text-decoration: none;
  color: abstracts.$color-text-tertiary;
  padding: 10px;
}

.site-navigation__link:hover {
  color: abstracts.$color-brand-primary;
  @include abstracts.transition(color);
}

.site-navigation__link:active {
  color: abstracts.$highlight-brand-primary;
}

.site-navigation__link--active {
  color: abstracts.$color-brand-primary;
}

.main-navigation__right-wrapper {
  display: none;
  gap: 30px;

  @media screen and (min-width: 1000px) {
    display: flex;
  }
}

.theme-switch {
  background-color: abstracts.$color-background;
  border: none;
  cursor: pointer;
}

.theme-switch__icon {
  color: abstracts.$color-text-primary;
  @include abstracts.transition(color);
}

.theme-switch__icon:hover {
  color: abstracts.$color-brand-primary;
}

.theme-switch__icon:focus {
  outline: 2px solid abstracts.$color-brand-primary;
}

.theme-switch__icon:active {
  color: abstracts.$highlight-brand-primary;
}
