@use "../abstracts";

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 24px;

  @media screen and (min-width: 1000px) {
    padding-top: 40px;
  }

  &__right-wrapper {
    display: none;
    gap: 30px;

    @media screen and (min-width: 1000px) {
      display: flex;
    }
  }
}

.logo {
  font-family: "Oleo Script", "Brush Script MT", fantasy;
  color: abstracts.$color-text-primary;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.375;
  padding-left: 8px;

  @media screen and (min-width: 1000px) {
    font-size: 32px;
  }
}

.site-navigation {
  display: none;
  list-style-type: none;
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  padding-left: 0;
  gap: 30px;

  @media screen and (min-width: 1000px) {
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: abstracts.$color-text-tertiary;
    padding: 10px;

    &:hover {
      color: abstracts.$color-brand-primary;
      @include abstracts.transition(color);
    }

    &:active {
      color: abstracts.$highlight-brand-primary;
    }

    &--active {
      color: abstracts.$color-brand-primary;
    }
  }
}

.theme-switch {
  background-color: abstracts.$color-background;
  border: none;
  cursor: pointer;

  &__icon {
    color: abstracts.$color-text-primary;
    @include abstracts.transition(color);

    &:hover {
      color: abstracts.$color-brand-primary;
    }

    &:focus {
      outline: 2px solid abstracts.$color-brand-primary;
    }

    &:active {
      color: abstracts.$highlight-brand-primary;
    }
  }
}
