@use "../abstracts";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  position: relative;

  @media screen and (min-width: abstracts.$lg) {
    padding-bottom: 96px;
  }

  &__avatar {
    display: block;
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, abstracts.$color-brand-primary, abstracts.$color-text-primary);
    border-radius: 50%;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 8px;
    text-align: center;
  }

  &__subtitle {
    &-wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      gap: 8px;
      margin-bottom: 32px;
    }

    &-emoji {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 32px;

    @media screen and (min-width: abstracts.$lg) {
      max-width: 704px;
    }

    @media screen and (min-width: abstracts.$xlg) {
      max-width: 756px;
    }

    @media screen and (min-width: abstracts.$xxlg) {
      max-width: 936px;
    }
  }

  &__grid {
    width: 100%;
    height: 764px;
    background-size: calc((100vw - 2 * (16px) - 1px) / 5) calc((100vw - 2 * (16px) - 1px) / 5);
    background-image:
      repeating-linear-gradient(abstracts.$color-text-tertiary 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, abstracts.$color-text-tertiary 0 1px, transparent 1px 100%);
    position: absolute;
    margin: 0 auto;
    z-index: -10;
    border-radius: 500px;
    opacity: 0.1;

    @media screen and (min-width: abstracts.$sm) {
      background-size: calc((abstracts.$sm - 2 * (16px) - 37px) / 6) calc((abstracts.$sm - 2 * (16px) - 37px) / 6);
    }

    @media screen and (min-width: abstracts.$md) {
      background-size: calc((abstracts.$md - 2 * (32px) - 49px) / 8) calc((abstracts.$md - 2 * (16px) - 49px) / 8);
    }

    @media screen and (min-width: abstracts.$lg) {
      background-size: calc((abstracts.$lg - 2 * (64px) - 33px) / 10) calc((abstracts.$lg - 2 * (16px) - 33px) / 10);
    }

    @media screen and (min-width: abstracts.$xlg) {
      background-size: calc((abstracts.$xlg - 2 * (96px) - 61px) / 11) calc((abstracts.$xlg - 2 * (96px) - 61px) / 11);
    }

    @media screen and (min-width: abstracts.$xxlg) {
      background-size: calc((abstracts.$xxlg - 2 * (96px) - 81px) / 12) calc((abstracts.$xxlg - 2 * (96px) - 61px) / 11);
    }

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 500px;
      background: linear-gradient(to top, abstracts.$color-background 0%, transparent 70%);
      pointer-events: none;
    }
  }
}
