@use "../abstracts";
@use "../components";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 140px;
  position: relative;
}

.hero__avatar {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero__title {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;

  @media screen and (min-width: 1000px) {
    font-size: 63px;
  }
}

.subtitle__wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  gap: 8px;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 32px;

  @media screen and (min-width: 1000px) {
    font-size: 26px;
    margin-bottom: 0;
  }
}

.subtitle__emoji {
  font-size: 18px;

  @media screen and (min-width: 1000px) {
    font-size: 26px;
  }
}

.description {
  font-family: "Inter", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: abstracts.$color-text-primary;
  text-align: center;
}

.hero__description {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 32px;

  @media screen and (min-width: 1000px) {
    font-size: 19px;
    max-width: 793px;
  }
}

.hero__grid {
  width: 100%;
  height: 764px;
  background-size: calc((100vw - 2 * (16px) - 1px) / 5) calc((100vw - 2 * (16px) - 1px) / 5);
  background-image:
    repeating-linear-gradient(abstracts.$color-text-tertiary 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, abstracts.$color-text-tertiary 0 1px, transparent 1px 100%);
  position: absolute;
  margin: 0 auto;
  z-index: -10;
  border-radius: 500px;
  opacity: 0.1;

  @media screen and (min-width: 1000px) {
    width: 1025px;
    height: 764px;
    background-size: 64px 64px;
  }
}

.hero__grid::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 500px;
  background: linear-gradient(to top, abstracts.$color-background 0%, transparent 70%);
  pointer-events: none;
}
