@use "../abstracts";

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  outline: 1px solid red;
  height: calc(100vh - 80px);

  &__text {
    font-size: 2.25rem;
    color: abstracts.$color-text-secondary;

    &-accent {
      color: abstracts.$color-text-primary;
    }
  }

  &__icon {
    color: abstracts.$color-text-secondary;
  }
}
