@use "../abstracts";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

.services__subtitle {
  margin-bottom: 32px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Inter", "Tahoma", sans-serif;
  list-style-type: none;
  padding: 0;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    width: 922px;
  }
}

.service__item {
  width: 294px;
  padding: 24px;
  border: 1px solid abstracts.$highlight-button-primary;
  border-radius: 10px;
  background-color: abstracts.$color-service-item-background;
}

.service__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.service__icon {
  width: 44px;
  height: 44px;
  padding: 13px;
  background-color: abstracts.$color-heading;
  border-radius: 9px;
  margin-bottom: 19px;
  color: abstracts.$color-background;
}

.service__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: abstracts.$color-heading;
  margin-bottom: 18px;
  text-align: right;
}

.service__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: abstracts.$color-text-primary;
}
